/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

html {
  font-height: 100%;
}

body {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #222;
}

#main-header {
  margin: 0;
  padding: 10px;
  background-color: #222;
}

#main-header h1 {
  float: left;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}

#main-header ul {
  list-style: none;
  padding: 0;
  float: right;
  margin-top: 5px;
}

#main-header ul li {
  display: inline;
  margin-left: 5px;
}

#main-header a {
  text-decoration: none;
  color: #fff;
}

#main-header a:hover {
  color: #999;
}

.clear {
  clear: both;
}
